# Setting the environment

In [15]:
# !git pull https://github.com/abasilio91/brecom-analysis/

# Go to https://www.kaggle.com/docs/api and follow procedure to download your kaggle.json file.
# After that, if you are using Google Colab, upload it in the content folder
# If not, move your kaggle.json to the your .kaggle folder

In [1]:
!pip install -r requirements.txt

Requirement already satisfied: pandas in c:\users\adam_\appdata\local\programs\python\python312\lib\site-packages (from -r requirements.txt (line 1)) (2.2.0)
Requirement already satisfied: kaggle in c:\users\adam_\appdata\local\programs\python\python312\lib\site-packages (from -r requirements.txt (line 2)) (1.6.5)
Requirement already satisfied: numpy in c:\users\adam_\appdata\local\programs\python\python312\lib\site-packages (from -r requirements.txt (line 3)) (1.26.4)
Collecting openai (from -r requirements.txt (line 4))
  Obtaining dependency information for openai from https://files.pythonhosted.org/packages/26/a1/75474477af2a1dae3a25f80b72bbaf20e8296191ece7fff2f67984206f33/openai-1.12.0-py3-none-any.whl.metadata
  Downloading openai-1.12.0-py3-none-any.whl.metadata (18 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\adam_\appdata\roaming\python\python312\site-packages (from pandas->-r requirements.txt (line 1)) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\adam_\appdata\local\programs\python\python312\lib\site-packages (from pandas->-r requirements.txt (line 1)) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\adam_\appdata\local\programs\python\python312\lib\site-packages (from pandas->-r requirements.txt (line 1)) (2023.4)
Requirement already satisfied: six>=1.10 in c:\users\adam_\appdata\roaming\python\python312\site-packages (from kaggle->-r requirements.txt (line 2)) (1.16.0)
Requirement already satisfied: certifi in c:\users\adam_\appdata\local\programs\python\python312\lib\site-packages (from kaggle->-r requirements.txt (line 2)) (2024.2.2)
Requirement already satisfied: requests in c:\users\adam_\appdata\local\programs\python\python312\lib\site-packages (from kaggle->-r requirements.txt (line 2)) (2.31.0)
Requirement already satisfied: tqdm in c:\users\adam_\appdata\local\programs\python\python312\lib\site-packages (from kaggle->-r requirements.txt (line 2)) (4.66.1)
Requirement already satisfied: python-slugify in c:\users\adam_\appdata\local\programs\python\python312\lib\site-packages (from kaggle->-r requirements.txt (line 2)) (8.0.4)
Requirement already satisfied: urllib3 in c:\users\adam_\appdata\local\programs\python\python312\lib\site-packages (from kaggle->-r requirements.txt (line 2)) (2.2.0)
Requirement already satisfied: bleach in c:\users\adam_\appdata\local\programs\python\python312\lib\site-packages (from kaggle->-r requirements.txt (line 2)) (6.1.0)
Collecting anyio<5,>=3.5.0 (from openai->-r requirements.txt (line 4))
  Obtaining dependency information for anyio<5,>=3.5.0 from https://files.pythonhosted.org/packages/bf/cd/d6d9bb1dadf73e7af02d18225cbd2c93f8552e13130484f1c8dcfece292b/anyio-4.2.0-py3-none-any.whl.metadata
  Downloading anyio-4.2.0-py3-none-any.whl.metadata (4.6 kB)
Collecting distro<2,>=1.7.0 (from openai->-r requirements.txt (line 4))
  Obtaining dependency information for distro<2,>=1.7.0 from https://files.pythonhosted.org/packages/12/b3/231ffd4ab1fc9d679809f356cebee130ac7daa00d6d6f3206dd4fd137e9e/distro-1.9.0-py3-none-any.whl.metadata
  Downloading distro-1.9.0-py3-none-any.whl.metadata (6.8 kB)
Collecting httpx<1,>=0.23.0 (from openai->-r requirements.txt (line 4))
  Obtaining dependency information for httpx<1,>=0.23.0 from https://files.pythonhosted.org/packages/39/9b/4937d841aee9c2c8102d9a4eeb800c7dad25386caabb4a1bf5010df81a57/httpx-0.26.0-py3-none-any.whl.metadata
  Downloading httpx-0.26.0-py3-none-any.whl.metadata (7.6 kB)
Collecting pydantic<3,>=1.9.0 (from openai->-r requirements.txt (line 4))
  Obtaining dependency information for pydantic<3,>=1.9.0 from https://files.pythonhosted.org/packages/db/dc/afecbd9650f486889181c6d1a0d675b580c06253ea7e304588e4c7485bdb/pydantic-2.6.1-py3-none-any.whl.metadata
  Downloading pydantic-2.6.1-py3-none-any.whl.metadata (83 kB)
     ---------------------------------------- 0.0/83.5 kB ? eta -:--:--
     ----------------------------- ---------- 61.4/83.5 kB 1.1 MB/s eta 0:00:01
     ---------------------------------------  81.9/83.5 kB 1.5 MB/s eta 0:00:01
     -------------------------------------- 83.5/83.5 kB 779.1 kB/s eta 0:00:00
Collecting sniffio (from openai->-r requirements.txt (line 4))
  Using cached sniffio-1.3.0-py3-none-any.whl (10 kB)
Collecting typing-extensions<5,>=4.7 (from openai->-r requirements.txt (line 4))
  Obtaining dependency information for typing-extensions<5,>=4.7 from https://files.pythonhosted.org/packages/b7/f4/6a90020cd2d93349b442bfcb657d0dc91eee65491600b2cb1d388bc98e6b/typing_extensions-4.9.0-py3-none-any.whl.metadata
  Downloading typing_extensions-4.9.0-py3-none-any.whl.metadata (3.0 kB)
Requirement already satisfied: idna>=2.8 in c:\users\adam_\appdata\local\programs\python\python312\lib\site-packages (from anyio<5,>=3.5.0->openai->-r requirements.txt (line 4)) (3.6)
Collecting httpcore==1.* (from httpx<1,>=0.23.0->openai->-r requirements.txt (line 4))
  Obtaining dependency information for httpcore==1.* from https://files.pythonhosted.org/packages/56/ba/78b0a99c4da0ff8b0f59defa2f13ca4668189b134bd9840b6202a93d9a0f/httpcore-1.0.2-py3-none-any.whl.metadata
  Downloading httpcore-1.0.2-py3-none-any.whl.metadata (20 kB)
Collecting h11<0.15,>=0.13 (from httpcore==1.*->httpx<1,>=0.23.0->openai->-r requirements.txt (line 4))
  Using cached h11-0.14.0-py3-none-any.whl (58 kB)
Collecting annotated-types>=0.4.0 (from pydantic<3,>=1.9.0->openai->-r requirements.txt (line 4))
  Obtaining dependency information for annotated-types>=0.4.0 from https://files.pythonhosted.org/packages/28/78/d31230046e58c207284c6b2c4e8d96e6d3cb4e52354721b944d3e1ee4aa5/annotated_types-0.6.0-py3-none-any.whl.metadata
  Downloading annotated_types-0.6.0-py3-none-any.whl.metadata (12 kB)
Collecting pydantic-core==2.16.2 (from pydantic<3,>=1.9.0->openai->-r requirements.txt (line 4))
  Obtaining dependency information for pydantic-core==2.16.2 from https://files.pythonhosted.org/packages/d3/e7/13e9a66ce49a1e63119fb3c1e1a4d917b1326488cf9f0d8b007d8dc44f2a/pydantic_core-2.16.2-cp312-none-win_amd64.whl.metadata
  Downloading pydantic_core-2.16.2-cp312-none-win_amd64.whl.metadata (6.6 kB)
Requirement already satisfied: colorama in c:\users\adam_\appdata\roaming\python\python312\site-packages (from tqdm->kaggle->-r requirements.txt (line 2)) (0.4.6)
Requirement already satisfied: webencodings in c:\users\adam_\appdata\local\programs\python\python312\lib\site-packages (from bleach->kaggle->-r requirements.txt (line 2)) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\adam_\appdata\local\programs\python\python312\lib\site-packages (from python-slugify->kaggle->-r requirements.txt (line 2)) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\adam_\appdata\local\programs\python\python312\lib\site-packages (from requests->kaggle->-r requirements.txt (line 2)) (3.3.2)
Downloading openai-1.12.0-py3-none-any.whl (226 kB)
   ---------------------------------------- 0.0/226.7 kB ? eta -:--:--
   -------------- ------------------------- 81.9/226.7 kB 2.3 MB/s eta 0:00:01
   ---------------------------- ----------- 163.8/226.7 kB 2.0 MB/s eta 0:00:01
   ---------------------------------------  225.3/226.7 kB 2.0 MB/s eta 0:00:01
   ---------------------------------------- 226.7/226.7 kB 1.4 MB/s eta 0:00:00
Downloading anyio-4.2.0-py3-none-any.whl (85 kB)
   ---------------------------------------- 0.0/85.5 kB ? eta -:--:--
   -------------------------------------- - 81.9/85.5 kB 4.8 MB/s eta 0:00:01
   ---------------------------------------- 85.5/85.5 kB 1.6 MB/s eta 0:00:00
Downloading distro-1.9.0-py3-none-any.whl (20 kB)
Downloading httpx-0.26.0-py3-none-any.whl (75 kB)
   ---------------------------------------- 0.0/75.9 kB ? eta -:--:--
   ---------------------------------------- 75.9/75.9 kB 2.1 MB/s eta 0:00:00
Downloading httpcore-1.0.2-py3-none-any.whl (76 kB)
   ---------------------------------------- 0.0/76.9 kB ? eta -:--:--
   ------------------------------------- -- 71.7/76.9 kB ? eta -:--:--
   ---------------------------------------- 76.9/76.9 kB 1.4 MB/s eta 0:00:00
Downloading pydantic-2.6.1-py3-none-any.whl (394 kB)
   ---------------------------------------- 0.0/394.8 kB ? eta -:--:--
   --------------- ------------------------ 153.6/394.8 kB 4.6 MB/s eta 0:00:01
   ---------------------- ----------------- 225.3/394.8 kB 4.7 MB/s eta 0:00:01
   -------------------------------- ------- 317.4/394.8 kB 2.8 MB/s eta 0:00:01
   ---------------------------------------  389.1/394.8 kB 2.7 MB/s eta 0:00:01
   ---------------------------------------  389.1/394.8 kB 2.7 MB/s eta 0:00:01
   ---------------------------------------- 394.8/394.8 kB 1.6 MB/s eta 0:00:00
Downloading pydantic_core-2.16.2-cp312-none-win_amd64.whl (1.9 MB)
   ---------------------------------------- 0.0/1.9 MB ? eta -:--:--
   --- ------------------------------------ 0.1/1.9 MB 4.2 MB/s eta 0:00:01
   ------ --------------------------------- 0.3/1.9 MB 4.7 MB/s eta 0:00:01
   ---------- ----------------------------- 0.5/1.9 MB 4.3 MB/s eta 0:00:01
   --------------- ------------------------ 0.7/1.9 MB 4.4 MB/s eta 0:00:01
   ------------------- -------------------- 0.9/1.9 MB 4.2 MB/s eta 0:00:01
   ------------------------ --------------- 1.1/1.9 MB 4.3 MB/s eta 0:00:01
   ------------------------------ --------- 1.4/1.9 MB 4.4 MB/s eta 0:00:01
   ---------------------------------- ----- 1.6/1.9 MB 4.4 MB/s eta 0:00:01
   ---------------------------------------  1.8/1.9 MB 4.4 MB/s eta 0:00:01
   ---------------------------------------  1.8/1.9 MB 4.3 MB/s eta 0:00:01
   ---------------------------------------- 1.9/1.9 MB 3.7 MB/s eta 0:00:00
Downloading typing_extensions-4.9.0-py3-none-any.whl (32 kB)
Downloading annotated_types-0.6.0-py3-none-any.whl (12 kB)
Installing collected packages: typing-extensions, sniffio, h11, distro, annotated-types, pydantic-core, httpcore, anyio, pydantic, httpx, openai
Successfully installed annotated-types-0.6.0 anyio-4.2.0 distro-1.9.0 h11-0.14.0 httpcore-1.0.2 httpx-0.26.0 openai-1.12.0 pydantic-2.6.1 pydantic-core-2.16.2 sniffio-1.3.0 typing-extensions-4.9.0

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd
import numpy as np
from openai import OpenAI

C:\Users\adam_\AppData\Local\Temp\ipykernel_20220\3087188760.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [18]:
!kaggle datasets download -d olistbr/brazilian-ecommerce -p D:\Adam\Estudos\ADA\tecprog\projeto\brecom-analysis\database --unzip

Downloading brazilian-ecommerce.zip to D:\Adam\Estudos\ADA\tecprog\projeto\brecom-analysis\database

  0%|          | 0.00/42.6M [00:00<?, ?B/s]
  2%|▏         | 1.00M/42.6M [00:00<00:29, 1.46MB/s]
  5%|▍         | 2.00M/42.6M [00:00<00:14, 2.92MB/s]
  9%|▉         | 4.00M/42.6M [00:00<00:06, 6.19MB/s]
 16%|█▋        | 7.00M/42.6M [00:01<00:03, 10.6MB/s]
 23%|██▎       | 10.0M/42.6M [00:01<00:02, 13.6MB/s]
 30%|███       | 13.0M/42.6M [00:01<00:01, 15.8MB/s]
 35%|███▌      | 15.0M/42.6M [00:01<00:01, 16.8MB/s]
 42%|████▏     | 18.0M/42.6M [00:01<00:01, 18.5MB/s]
 49%|████▉     | 21.0M/42.6M [00:01<00:01, 19.8MB/s]
 56%|█████▋    | 24.0M/42.6M [00:01<00:00, 21.3MB/s]
 63%|██████▎   | 27.0M/42.6M [00:02<00:00, 22.2MB/s]
 70%|███████   | 30.0M/42.6M [00:02<00:00, 23.0MB/s]
 77%|███████▋  | 33.0M/42.6M [00:02<00:00, 23.4MB/s]
 84%|████████▍ | 36.0M/42.6M [00:02<00:00, 22.5MB/s]
 91%|█████████▏| 39.0M/42.6M [00:02<00:00, 22.7MB/s]
 98%|█████████▊| 42.0M/42.6M [00:02<00:00, 22.5MB/s]
100%|██████████| 42.6M/42.6M [00:02<00:00, 16.4MB/s]

## loading files into memory

In [20]:
# Quasi-database using pandas
customers = pd.read_csv('database/olist_customers_dataset.csv', dtype=str)
geolocation = pd.read_csv('database/olist_geolocation_dataset.csv', dtype=str)
order_items = pd.read_csv('database/olist_order_items_dataset.csv', dtype=str)
order_payments = pd.read_csv('database/olist_order_payments_dataset.csv', dtype=str)
order_reviews = pd.read_csv('database/olist_order_reviews_dataset.csv', dtype=str)
orders = pd.read_csv('database/olist_orders_dataset.csv', dtype=str)
products = pd.read_csv('database/olist_products_dataset.csv', dtype=str)
sellers = pd.read_csv('database/olist_sellers_dataset.csv', dtype=str)

# Exploratory analysis

## Checking for inconsistancies

### Customers

In [21]:
customers

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,09790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,01151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,08775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,03937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,06764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,06703,cotia,SP

In [22]:
n_unique_customers = len(customers.customer_unique_id.unique())
n_unique_customers

96096

In [23]:
n_base_customers = len(customers.customer_id.unique())
n_base_customers

99441

Since `n_unique_customers` $\neq$ `n_base_customers`, it seems the same customer can show up in the base in different cities.

In [24]:
# Checking for customers with multiple city entries

customers.value_counts(subset='customer_unique_id')

customer_unique_id
8d50f5eadf50201ccdcedfb9e2ac8455    17
3e43e6105506432c953e165fb2acf44c     9
6469f99c1f9dfae7733b25662e7f1782     7
ca77025e7201e3b30c44b472ff346268     7
1b6c7548a2a1f9037c1fd3ddfed95f33     7
                                    ..
5657dfebff5868c4dc7e8355fea865c4     1
5657596addb4d7b07b32cd330614bdf8     1
5656eb169546146caeab56c3ffc3d268     1
5656a8fabc8629ff96b2bc14f8c09a27     1
ffffd2657e2aad2907e67c3e9daecbeb     1
Name: count, Length: 96096, dtype: int64

In [25]:
# NaN values

customers.isna().value_counts()

customer_id  customer_unique_id  customer_zip_code_prefix  customer_city  customer_state
False        False               False                     False          False             99441
Name: count, dtype: int64

No inconsistancies were found in this base.

### Geolocation

In [26]:
geolocation

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,01037,-23.54562128115268,-46.63929204800168,sao paulo,SP
1,01046,-23.546081127035535,-46.64482029837157,sao paulo,SP
2,01046,-23.54612896641469,-46.64295148361138,sao paulo,SP
3,01041,-23.5443921648681,-46.63949930627844,sao paulo,SP
4,01035,-23.541577961711493,-46.64160722329613,sao paulo,SP
...,...,...,...,...,...
1000158,99950,-28.06863887662893,-52.01070524698279,tapejara,RS
1000159,99900,-27.877125117712357,-52.22488216264145,getulio vargas,RS
1000160,99950,-28.07185541645192,-52.01471586864233,tapejara,RS
1000161,99980,-28.388931876600495,-51.84687132274168,david canabarro,RS
1000162,99950,-28.07010363149126,-52.01865772856674,tapejara,RS

In [27]:
geolocation.isna().value_counts()

geolocation_zip_code_prefix  geolocation_lat  geolocation_lng  geolocation_city  geolocation_state
False                        False            False            False             False                1000163
Name: count, dtype: int64

In [28]:
len(geolocation.geolocation_city.unique())

8011

In [29]:
geolocation.geolocation_city.value_counts()

geolocation_city
sao paulo               135800
rio de janeiro           62151
belo horizonte           27805
são paulo                24918
curitiba                 16593
                         ...
jacuípe                      1
mar vermelho                 1
quebrangulo                  1
poço das trincheiras         1
poxim                        1
Name: count, Length: 8011, dtype: int64

In [30]:
geolocation.geolocation_zip_code_prefix.value_counts()

geolocation_zip_code_prefix
24220    1146
24230    1102
38400     965
35500     907
11680     879
         ...
71750       1
71742       1
26475       1
26357       1
29826       1
Name: count, Length: 19015, dtype: int64

In [31]:
geolocation[['geolocation_lat','geolocation_lng']].value_counts()

geolocation_lat      geolocation_lng
-27.102098999999946  -48.62961349999995     314
-23.495901469908656  -46.87468669635919     190
-23.506049208479613  -46.71737739541604     141
-23.490617505282753  -46.86900366603934     127
-23.00551425914832   -43.37596441256672     102
                                           ...
-22.46771886866123   -44.0769504183993        1
-22.46774061547971   -44.441692315810535      1
-22.467757728039338  -48.561537808648865      1
-22.4677705400581    -48.989023806571645      1
45.06593318269697    9.341527629906514        1
Name: count, Length: 718463, dtype: int64

### Order items

In [32]:
order_items

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14
...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79

In [33]:
order_items.order_id.value_counts()

order_id
8272b63d03f5f79c56e9e4120aec44ef    21
1b15974a0141d54e36626dca3fdc731a    20
ab14fdcfbe524636d65ee38360e22ce8    20
9ef13efd6949e4573a18964dd1bbe7f5    15
428a2f660dc84138d969ccd69a0ab6d5    15
                                    ..
5a0911d70c1f85d3bed0df1bf693a6dd     1
5a082b558a3798d3e36d93bfa8ca1eae     1
5a07264682e0b8fbb3f166edbbffc6e8     1
5a071192a28951b76774e5a760c8c9b7     1
fffe41c64501cc87c801fd61db3f6244     1
Name: count, Length: 98666, dtype: int64

In [34]:
order_items.isna().value_counts()

order_id  order_item_id  product_id  seller_id  shipping_limit_date  price  freight_value
False     False          False       False      False                False  False            112650
Name: count, dtype: int64

### Order payments

In [35]:
order_payments

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45
...,...,...,...,...,...
103881,0406037ad97740d563a178ecc7a2075c,1,boleto,1,363.31
103882,7b905861d7c825891d6347454ea7863f,1,credit_card,2,96.80
103883,32609bbb3dd69b3c066a6860554a77bf,1,credit_card,1,47.77
103884,b8b61059626efa996a60be9bb9320e10,1,credit_card,5,369.54
103885,28bbae6599b09d39ca406b747b6632b1,1,boleto,1,191.58

In [36]:
order_payments.isna().value_counts()

order_id  payment_sequential  payment_type  payment_installments  payment_value
False     False               False         False                 False            103886
Name: count, dtype: int64

In [37]:
order_payments.order_id.value_counts()

order_id
fa65dad1b0e818e3ccc5cb0e39231352    29
ccf804e764ed5650cd8759557269dc13    26
285c2e15bebd4ac83635ccc563dc71f4    22
895ab968e7bb0d5659d16cd74cd1650c    21
fedcd9f7ccdc8cba3a18defedd1a5547    19
                                    ..
6d2a30c9b7dcee3ed507dc9a601f99e7     1
a7737f6d9208dd56ea498a322ed3c37f     1
646e62df54f3e236eb6d5ff3b31429b8     1
e115da7a49ec2acf622e1f31da65cfb9     1
28bbae6599b09d39ca406b747b6632b1     1
Name: count, Length: 99440, dtype: int64

In [38]:
order_payments.payment_type.value_counts()

payment_type
credit_card    76795
boleto         19784
voucher         5775
debit_card      1529
not_defined        3
Name: count, dtype: int64

In [39]:
order_payments.payment_installments.value_counts()

payment_installments
1     52546
2     12413
3     10461
4      7098
10     5328
5      5239
8      4268
6      3920
7      1626
9       644
12      133
15       74
18       27
11       23
24       18
20       17
13       16
14       15
17        8
16        5
21        3
0         2
22        1
23        1
Name: count, dtype: int64

### Order reviews

In [40]:
order_reviews

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53
...,...,...,...,...,...,...,...
99219,574ed12dd733e5fa530cfd4bbf39d7c9,2a8c23fee101d4d5662fa670396eb8da,5,NaN,NaN,2018-07-07 00:00:00,2018-07-14 17:18:30
99220,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,5,NaN,NaN,2017-12-09 00:00:00,2017-12-11 20:06:42
99221,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,5,NaN,"Excelente mochila, entrega super rápida. Super...",2018-03-22 00:00:00,2018-03-23 09:10:43
99222,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,4,NaN,NaN,2018-07-01 00:00:00,2018-07-02 12:59:13
99223,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,1,NaN,"meu produto chegou e ja tenho que devolver, po...",2017-07-03 00:00:00,2017-07-03 21:01:49

In [41]:
order_reviews.isna().value_counts()

review_id  order_id  review_score  review_comment_title  review_comment_message  review_creation_date  review_answer_timestamp
False      False     False         True                  True                    False                 False                      56518
                                                         False                   False                 False                      31138
                                   False                 False                   False                 False                       9839
                                                         True                    False                 False                       1729
Name: count, dtype: int64

In [42]:
order_reviews.review_id.value_counts()

review_id
7b606b0d57b078384f0b58eac1d41d78    3
dbdf1ea31790c8ecfcc6750525661a9b    3
32415bbf6e341d5d517080a796f79b5c    3
0c76e7a547a531e7bf9f0b99cba071c1    3
4219a80ab469e3fc9901437b73da3f75    3
                                   ..
95e01591b0e69a2fab382b0c562d4e20    1
93611e0327d6a1769d1e68cf3caa242d    1
983c47de74278257f99c4b918fd380f1    1
ca475b77fcc618551ef9d516c3f61b88    1
efe49f1d6f951dd88b51e6ccd4cc548f    1
Name: count, Length: 98410, dtype: int64

In [43]:
order_reviews.order_id.value_counts()

order_id
c88b1d1b157a9999ce368f218a407141    3
8e17072ec97ce29f0e1f111e598b0c85    3
df56136b8031ecd28e200bb18e6ddb2e    3
03c939fd7fd3b38f8485a0f95798f1f6    3
5cb890a68b91b6158d69257e4e2bc359    2
                                   ..
5b4e9a12d219f34f5c2de9f8d620b19d    1
a6da096d974acc000962856d7386448a    1
75e0647c26de647eca3421e9cc66c9da    1
bad0467c52f23cdc71e9fa139d4a8afd    1
90531360ecb1eec2a1fbb265a0db0508    1
Name: count, Length: 98673, dtype: int64

In [44]:
order_reviews.review_score.value_counts()

review_score
5    57328
4    19142
1    11424
3     8179
2     3151
Name: count, dtype: int64

### Orders

In [45]:
orders

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00
...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28 00:00:00
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00

In [46]:
orders.isna().value_counts()

order_id  customer_id  order_status  order_purchase_timestamp  order_approved_at  order_delivered_carrier_date  order_delivered_customer_date  order_estimated_delivery_date
False     False        False         False                     False              False                         False                          False                            96461
                                                                                  True                          True                           False                             1636
                                                                                  False                         True                           False                             1183
                                                               True               True                          True                           False                              146
                                                                                  False                         False                          False                               14
                                                               False              True                          False                          False                                1
Name: count, dtype: int64

In [47]:
orders.order_id.value_counts()

order_id
e481f51cbdc54678b7cc49136f2d6af7    1
f01059d0d674e1282df4e8fbbe015aa2    1
fbc17f0f2a2125054d5ac5c22d2d5120    1
9373150545066777b1cd2bc20e93cf8e    1
917399e96f92268dfa2c0351b1b75fba    1
                                   ..
6b8986012d61963295ffa3ea869aff86    1
be879f757debd3b384b540daa6ddd97e    1
ac3ce7eda1246f39509a505242fcc169    1
e801a93b3904ca9e8350f176a037047b    1
66dea50a8b16d9b4dee7af250b4be1a5    1
Name: count, Length: 99441, dtype: int64

In [48]:
orders.customer_id.value_counts()

customer_id
9ef432eb6251297304e76186b10a928d    1
413f7e58270a32396af030a075b924be    1
eb4350b67a0264c67e5e06a038e4afbb    1
622b07d262d545d16efbd4363a89cb91    1
c701fbfa77791abd05eef9eacf7ea7a8    1
                                   ..
39585f08d13377e50fde35467984e6eb    1
eb3d995301c320683de629f5b4dd0c78    1
f2507ea56d748a23037bb1214964e87d    1
ae8269d850cd3a3d06a56877c450b3f8    1
edb027a75a1449115f6b43211ae02a24    1
Name: count, Length: 99441, dtype: int64

In [49]:
orders.order_status.value_counts()

order_status
delivered      96478
shipped         1107
canceled         625
unavailable      609
invoiced         314
processing       301
created            5
approved           2
Name: count, dtype: int64

### Products

In [50]:
products

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40,287,1,225,16,10,14
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44,276,1,1000,30,18,20
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46,250,1,154,18,9,15
3,cef67bcfe19066a932b7673e239eb23d,bebes,27,261,1,371,26,4,26
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37,402,4,625,20,17,13
...,...,...,...,...,...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,moveis_decoracao,45,67,2,12300,40,40,40
32947,bf4538d88321d0fd4412a93c974510e6,construcao_ferramentas_iluminacao,41,971,1,1700,16,19,16
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,cama_mesa_banho,50,799,1,1400,27,7,27
32949,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,60,156,2,700,31,13,20
32950,106392145fca363410d287a815be6de4,cama_mesa_banho,58,309,1,2083,12,2,7

In [51]:
products.isna().value_counts()

product_id  product_category_name  product_name_lenght  product_description_lenght  product_photos_qty  product_weight_g  product_length_cm  product_height_cm  product_width_cm
False       False                  False                False                       False               False             False              False              False               32340
            True                   True                 True                        True                False             False              False              False                 609
            False                  False                False                       False               True              True               True               True                    1
            True                   True                 True                        True                True              True               True               True                    1
Name: count, dtype: int64

In [52]:
products.product_id.value_counts()

product_id
1e9e8ef04dbcff4541ed26657ea517e5    1
d05cc9afc85771f597cf4bc9d8f12546    1
71b7afd92c42feab780d5ea512fc7348    1
5c5f3e091101bea69642eb3dd145b17d    1
16d47089f9bc7f16de16cc4bd3b9dd49    1
                                   ..
c154987c6780d1a2b579aae00e53485f    1
1a6c9da4039deae58c2b769f049ae121    1
4cb35e544a1de008f37e069f172f964e    1
b34b2c889f5b26963569cf421254e121    1
106392145fca363410d287a815be6de4    1
Name: count, Length: 32951, dtype: int64

In [53]:
products.product_category_name.value_counts()

product_category_name
cama_mesa_banho                  3029
esporte_lazer                    2867
moveis_decoracao                 2657
beleza_saude                     2444
utilidades_domesticas            2335
                                 ...
fashion_roupa_infanto_juvenil       5
casa_conforto_2                     5
pc_gamer                            3
seguros_e_servicos                  2
cds_dvds_musicais                   1
Name: count, Length: 73, dtype: int64

### Sellers

In [54]:
sellers

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,04195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP
...,...,...,...,...
3090,98dddbc4601dd4443ca174359b237166,87111,sarandi,PR
3091,f8201cab383e484733266d1906e2fdfa,88137,palhoca,SC
3092,74871d19219c7d518d0090283e03c137,04650,sao paulo,SP
3093,e603cf3fec55f8697c9059638d6c8eb5,96080,pelotas,RS
3094,9e25199f6ef7e7c347120ff175652c3b,12051,taubate,SP

In [55]:
sellers.isna().value_counts()

seller_id  seller_zip_code_prefix  seller_city  seller_state
False      False                   False        False           3095
Name: count, dtype: int64

In [56]:
sellers.seller_id.value_counts()

seller_id
3442f8959a84dea7ee197c632cb2df15    1
e26901d5ab434ce92fd9b5c256820a4e    1
7e3f87d16fb353f408d467e74fbd8014    1
9140bd1d9de28b197dce077bdd687438    1
a2b911e9ad40dc7d61c142a4683e2d85    1
                                   ..
f918546be4bec7104d117789ba758b2b    1
eb4a59a06b3948e851a7d7a830bcbc42    1
80146bc52c4f6af5239b23de2a20262b    1
4091f77d8c768fc3e81c20761471761d    1
9e25199f6ef7e7c347120ff175652c3b    1
Name: count, Length: 3095, dtype: int64

In [57]:
sellers.seller_city.value_counts()

seller_city
sao paulo              694
curitiba               127
rio de janeiro          96
belo horizonte          68
ribeirao preto          52
                      ...
taruma                   1
s jose do rio preto      1
domingos martins         1
messias targino          1
leme                     1
Name: count, Length: 611, dtype: int64